{% extends 'frontstage/base.html' %}


{% block content %}

<div class="spacer-150"></div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="start-exam">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Username :</label>
            <input type="user" name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="username...">
          </div>
          <div class="form-group">
            <label for="name">Password :</label>
            <input type="password" name="password" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Password">
          </div>
    
          <button type="submit" class="btn btn-danger">Get Started</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}