{% extends 'frontstage/base.html' %}

{% block content %}
<div class="spacer-150"></div>
    <div class="row">
        <div class="col-md-8 msg-container">
            <h1>All the Correct and Incorrect Answers</h1>
            <p>The Report Showed Exactly what you selected and what was the right choices</p>
        </div>
    </div>

    <div class="row">

        {% for q in question %}
        <div class="col-md-8 question-container">
            <h4>{{ q.title }}</h4>
            <hr>
            {% for c in q.selected_choice.all %}
                <div class="checkbox">
                    <input class="form-check-input"  {% if c.is_selected %} checked {% else %}  {% endif %}  type="checkbox" value="" id="defaultCheck1" disabled>
                    <label class="form-check-label" for="defaultCheck1">
                        {% if c.choice.is_right_choice %} <span class="green">{{ c.choice.choice_text }}</span> {% elif c.is_selected and not c.choice.is_right_choice %} <span class="red">{{ c.choice.choice_text }}</span>  {% else %} <span>{{ c.choice.choice_text }}</span>  {% endif %}
                    </label>
                </div>
            {% endfor %}

        </div>
        {% endfor %}




    </div>

{% endblock %}