<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>RECRUITER EXAM SYSTEM !!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    {% block style %} {% endblock %}
</head>
<body>

<div class="container">

    <!-- header to started -->
    <div class="row header-top zero-margin-padding">
        <div class="col-md-12 header-title">
            <h1>RECRUITER EXAM SYSTEM</h1>
        </div>
       
    </div>
    <!-- header top ended -->

    <!-- content body -->
    <div class="row zero-margin-padding">

        <!-- sidebar started -->
        <div class="col-md-3 col-sm-5 zero-margin-padding side-bar">
            <div class="head-shot">
                <img src="{% static 'dashboard/assets/headshot.png' %}">

                <h2>Jhon Doe</h2>
                <p>You signed as Admin</p>
            </div>

            <div class="menu">
                <a class="inactive-link" href="details.html">
                    <p><img src="{% static 'dashboard/assets/small details.png' %}"> <span class="link-title">Professional Details</span></p>
                </a>

                <a class="inactive-link" href="{% url 'dashboard.question_pool' %}">
                    <p><img src="{% static 'dashboard/assets/small documents.png' %}"> <span class="link-title">Questoin Pool</span></p>
                </a>

                <a class="active-link" href="setting.html">
                    <p> <img src="{% static 'dashboard/assets/small settings.png' %}"> <span class="link-title">Exam Settings</span></p>
                </a>

                <a class="inactive-link" href="help.html">
                    <p> <img src="{% static 'dashboard/assets/small help.png' %}"> <span class="link-title">Help</span></p>
                </a>

                <a class="inactive-link" href="#">
                    <p style="color: red;"><img src="{% static 'dashboard/assets/signout.png' %}"> <span class="link-title">Sign Out</span></p>
                </a>

            </div>
        </div>
        <!-- sidebar ended -->

        <!-- content inside -->
        <div class="col-md-9 col-sm-7">
            {% block subheader %} {% endblock %}

            {% block content %} {% endblock %}
        </div>
        <!-- content inside ended -->
    </div>
    <!-- content body ended -->

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% block js %} {% endblock %}
</body>
</html>
