{% extends 'dashboard/base.html' %}

{% block style %}



{% endblock %}

{% block menu %}
    {% include "dashboard/menu.html" %}
{% endblock %}


{% block content %}


<div class="row padding-10">

    <!-- col-md-12 started -->
    <div style="text-align: center;" class="col-md-6">


        
        <!-- question selection started -->
        <div class="multiselect-container">
            <div>
                <form method="POST" action="{% url 'dashboard.create_topic' %}">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exam">Topic name:</label>
                      <input type="text" class="form-control" name="name" id="exam" placeholder="Android..">
                    </div>
                    
                    
                    <button type="submit" class="btn btn-outline-primary">Save Topic</button>
                </form>
            </div>

        </div>
        <!-- question selection ended -->


    </div><!-- col-md-12 ended -->
</div>


{% endblock %}



{% block js %}

{% endblock %}