{% extends 'dashboard/base.html' %}

{% block style %}



{% endblock %}

{% block menu %}
    {% include "dashboard/menu.html" %}
{% endblock %}


{% block content %}


<div class="row padding-10">
    <!-- col-md-12 started -->
    <div style="text-align: center;" class="col-md-6">


        <h3>Create an exam</h3>
        <!-- question selection started -->
        <div class="multiselect-container">
            <p>New Created Exam will be identified as current exam, but you can <a style="color: red; text-decoration: underline;" href="{% url 'dashboard.settings' %}">Change It</a></p>
            
            {% if request.current_exam %}
                <p>your current exam is {{ request.current_exam.name }} <a style="color: red; text-decoration: underline;" href="{% url 'dashboard.settings' %}">Change It Now</a></p>
            {% endif %}
            <div>
                <form method="POST" action="{% url 'dashboard.create_exam' %}">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exam">Exam name:</label>
                      <input type="text" class="form-control" name="exam" id="exam" placeholder="Exam Name">
                    </div>
                    <div class="form-group">
                      <label for="duration">Total Duration (seconds) :</label> <br>
                      <small>We recomend you to keep it blank, so total duration will be calculated by total question duration</small>
                      <input name="duration" type="number" class="form-control" id="duration" placeholder="Insert duration (Second only)">
                    </div>
                    
                    <button type="submit" class="btn btn-outline-primary">Save Exam</button>
                </form>
            </div>

        </div>
        <!-- question selection ended -->


    </div><!-- col-md-12 ended -->
</div>


{% endblock %}



{% block js %}

{% endblock %}