{% extends 'dashboard/base.html' %}

{% block style %}



{% endblock %}

{% block menu %}
    {% include "dashboard/menu.html" %}
{% endblock %}


{% block content %}


<div class="row padding-10">

    <!-- col-md-12 started -->
    <div style="text-align: center;" class="col-md-12">


        
        <!-- question selection started -->
        <div class="multiselect-container">
            <p>New Created Exam will be identified as current exam, but you can <a style="color: red; text-decoration: underline;" href="{% url 'dashboard.settings' %}">Change It Now</a></p>
            
            {% if request.current_exam %}
                <p>your current exam is {{ request.current_exam.name }} <a style="color: red; text-decoration: underline;" href="{% url 'dashboard.settings' %}">Change It Now</a></p>
            {% endif %}
            <div>
                <form action="{% url 'dashboard.create_exam' %}" method="get">
                    {% csrf_token %}

                    <input name="exam" type="text" placeholder="Exam name..">
                    
                    
                    <button type="button" class="btn btn-outline-primary">Create Exam</button>
                </form>
            </div>

        </div>
        <!-- question selection ended -->


    </div><!-- col-md-12 ended -->
</div>


{% endblock %}



{% block js %}

{% endblock %}