{% extends 'dashboard/base.html' %}

{% block style %}



{% endblock %}

{% block menu %}
    {% include "dashboard/menu.html" %}
{% endblock %}


{% block content %}


<div class="row padding-10">

    <!-- col-md-12 started -->
    <div style="text-align: center;" class="col-md-6">


        
        <!-- question selection started -->
        <div class="multiselect-container">
            <div>
                <p>hi</p>
            </div>

        </div>
        <!-- question selection ended -->


    </div><!-- col-md-12 ended -->
</div>


{% endblock %}



{% block js %}

{% endblock %}