{% extends 'dashboard/base.html' %}

{% block style %}

<style>
    .multiselect {
        width: 200px;
    }

    .selectBox {
        position: relative;
    }

    .selectBox select {
        width: 100%;
        font-weight: bold;
    }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #checkboxes {
        display: none;
        border: 1px #dadada solid;
    }

    #checkboxes label {
        display: block;
    }

    #checkboxes label:hover {
        background-color: #1e90ff;
    }
</style>

{% endblock %}


{% block content %}

<div class="row padding-10">

    <!-- col-md-12 started -->
    <div class="col-md-12">

        <!-- topic selection started -->
        <div class="multiselect-container">

            <div>
                <form method="GET">
                    <div class="multiselect">
                        <div class="selectBox" onclick="showCheckboxes()">
                            <select>
                                <option>Select an Topic</option>
                            </select>
                            <div class="overSelect"></div>
                        </div>
                        <div id="checkboxes">
                            {% for t in topics %}
                            <label for="one">
                                <input type="checkbox" value="{{ t.id }}" name="{{ t.name }}" id="{{ t.name }}" />{{ t.name }}</label>
                            {% endfor %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Find Question</button>
                </form>

            </div>

        </div>
        <!-- topic selection ended -->

        {% if topic_question %}
        <!-- question selection started -->
        <div class="multiselect-container">

            <div>
                <form method="POST">
                    {% csrf_token %}

                    {% for topic in topic_question %}
                    <div class="topic">
                        <h1>{{ topic.name }}</h1>
                        {% for question in topic.questions_by_topic.all %}
                        <div class="form-check">
                            <input type="checkbox" name="{{ question.id }}" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">{{ question.title }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
        <!-- question selection ended -->

        {% endif %}

    </div><!-- col-md-12 ended -->
</div>



{% endblock %}



{% block js %}
<script>
    var expanded = false;

    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }
</script>
{% endblock %}