{% extends 'dashboard/base.html' %}

{% block style %}

<style>
    .multiselect {
        width: 200px;
    }

    .selectBox {
        position: relative;
    }

    .selectBox select {
        width: 100%;
        font-weight: bold;
    }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #checkboxes {
        display: none;
        border: 1px #dadada solid;
    }

    #checkboxes label {
        display: block;
    }

    #checkboxes label:hover {
        background-color: #1e90ff;
    }
</style>

{% endblock %}

{% block menu %}
    {% include "dashboard/menu.html" %}
{% endblock %}


{% block content %}

<div class="row padding-10">



    <h3>Select Questions for your cuurent exam</h3>

    <div class="col-md-8">
        <a class="btn btn-lg btn-success" href="{% url 'dashboard.create_question_choice' %}">Create Question</a>
    </div>

    {% if request.current_exam %}
                <p>your current exam is {{ request.current_exam.name }} <a style="color: red; text-decoration: underline;" href="{% url 'dashboard.settings' %}">Change It Now</a></p>
    {% else %}
    <p>You don't have any current exam at this moment, <a style="color: red; text-decoration: underline;" href="{% url 'dashboard.create_exam' %}">Create New Exam</a> </p>
    {% endif %}
    <!-- col-md-12 started -->
    <div class="col-md-12">

        <!-- topic selection started -->
        <div class="multiselect-container">

            <div>
                <form method="GET">
                    <div class="multiselect">
                        <div style="margin-bottom: 10px;">
                        </div>
                        {% if topics %}
                            <div class="selectBox" onclick="showCheckboxes()">
                                <select>
                                    <option>Select an Topic</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="checkboxes">
                                {% for t in topics %}
                                <label for="one">
                                    <input type="checkbox" value="{{ t.id }}" name="{{ t.name }}" id="{{ t.name }}" />{{ t.name }}</label>
                                {% endfor %}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Find Question</button>
                        {% endif %}
                </form>

            </div>

        </div>
        <!-- topic selection ended -->

<div style="margin-bottom: 20px;" class="row">
    
</div>

        {% if topic_question %}
        <!-- question selection started -->
        <div class="multiselect-container">

            <div>
                {% if request.current_exam %}

                <form method="POST">
                    {% csrf_token %}

                    {% for topic in topic_question %}
                    <div class="topic">
                        <h1>{{ topic.name }}</h1>
                        {% for question in topic.questions_by_topic.all %}
                        <div class="form-check">
                            <input type="checkbox" name="{{ question.id }}" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">{{ question.title }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-success">Add these Questions to {{ request.current_exam }}</button>
                </form>

                {% else %}

                <h1>You have no current exam</h1>
                <a href="{% url 'dashboard.create_exam' %}" class="btn btn-warning">Create an Exam Now</a>
                {% endif %}
            </div>

        </div>
        <!-- question selection ended -->

        {% endif %}

    </div><!-- col-md-12 ended -->
</div>



{% endblock %}



{% block js %}
<script>
    var expanded = false;

    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }
</script>
{% endblock %}