{% extends 'dashboard/base.html' %}

{% block style %}



{% endblock %}

{% block menu %}
    {% include "dashboard/menu.html" %}
{% endblock %}


{% block content %}


<div class="row padding-10">

    <!-- col-md-12 started -->
    <div class="col-md-12">


        
        <!-- question selection started -->
        <div class="multiselect-container">

            <div>
                <form action="{% url 'dashboard.settings' %}" method="POST">
                    {% csrf_token %}

                    <div class="topic">
                        <h1>Set your current exam</h1>
                        <p>( Current Exam: <span style="font-weight: bold;">{{ request.current_exam }}</span> )</p>
                        <hr>
                        {% for exam in exams %}
                        <div class="form-check">
                            <input type="radio" value="{{exam.id}}" name="exam" class="form-check-input" id="examcheck">
                            <label class="form-check-label" for="examcheck">{{ exam.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <hr>
                    <button type="submit" class="btn btn-outline-success">Save Changes</button>
                    <a href="{% url 'dashboard.create_exam' %}" class="btn btn-outline-primary">Create New Exam</a>
                </form>
            </div>

        </div>
        <!-- question selection ended -->


    </div><!-- col-md-12 ended -->
</div>


{% endblock %}



{% block js %}

{% endblock %}